{% extends 'base.html' %}
{% block title %}RainCheck Weather App{% endblock %}

{% block content %}
{% if user_logged_in %}

    <iframe title="forecast_temps" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=15da32c8-4d30-4865-852a-b3a91d1957f5&autoAuth=true&ctid=92ebe562-ecd9-47fa-b107-065ebb49968e" frameborder="0" allowFullScreen="true"></iframe>

{% else %}
<div class="col-md-6 offset-md-3">
    <p class="login-message">You are not logged in. <a href="/login">Login</a> or <a href="/register">Register</a>.</p>
</div>
{% endif %}

{% endblock %}
