<!DOCTYPE html>
<html>
<head>
    <title>Weather Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}!</h1>
    <div>
        <h2>Power BI Embedded Visualization</h2>
        <div id="reportContainer" style="height: 600px;"></div>
    </div>

    <script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/powerbi-client/dist/powerbi.min.js"></script>
    <script>
        var embedToken = '{{ embed_token }}';

        var embedConfig = {
            type: 'report',
            id: '471bb37a-6f83-4f8f-b857-1e94404b0350',
            embedUrl: 'https://app.powerbi.com/reportEmbed',
            accessToken: embedToken,
            settings: {
                filterPaneEnabled: false,
                navContentPaneEnabled: false
            }
        };

        var reportContainer = document.getElementById('reportContainer');
        var report = powerbi.embed(reportContainer, embedConfig);

        report.on("error", function(event) {
            console.log("Embedding error:", event.detail);
        });
    </script>
</body>
</html>
